---
layout: default
title: SEO Community - Connecting and Advancing SEO
description: Welcome to the SEO Community. This is a public domain project, a free and open space to publish content about SEO for and by the community. It may include articles, guides, lists, resources, and more. Let's see what we can accomplish together.
---

<div class="row headline">
    <div class="twelve columns">
        <h1>{{ site.name }}</h1>
    </div>
</div>

<hr>

<div class="row">
    <div class="four columns">
        <div class="row">
            <h2>About</h2>
            <div class="subhead">
                <p>Connecting and Advancing SEO</p>
            </div>
        </div>
    </div>
    <div class="eight columns">
        <p>Welcome to the SEO Community. This is a public domain project, a free and open space to publish content about SEO for and by the community. It may include articles, guides, lists, resources, and more. Let's see what we can accomplish together.</p>
    </div>
</div>

{% include articles.html %}

{% include resources.html %}

{% include newsletters.html %}