<div class="row" style="margin-top:5rem;">
    <hr class="f">
    <div class="footer">
        <p>Everyone is welcome to contribute. Contact Jordan Silton on <a href="https://twitter.com/jsilton">Twitter</a> or <a href="https://www.linkedin.com/in/jsilton/">Linkedin</a> for access to <a href="https://github.com/SEO-Community">SEO Community on Github.</a></p>
        <p>No Rights Reserved. Set your code free. For more information, please refer to <a href="https://unlicense.org/">Unlicense.org</a>.</p>
    </div>
</div>