<hr>

<div class="row">
	<div class="four columns">
		<div class="row">
			<h2>Newsletters</h2>
			<div class="subhead">
				<p>Get the latest in your inbox</p>
			</div>
		</div>
	</div>
	<div class="eight columns">
		<ul>
            <li><a href="https://moz.com/moztop10">Moz Top 10</a>: a semimonthly email newsletter sharing 10 valuable articles about SEO and online marketing</li>
			<li><a href="https://www.aleydasolis.com/en/seo-tips/">#SEOFOMO</a>: a weekly email from Aleyda Solis with relevant SEO resources, tips, and tool recommendations</li>
            <li><a href="https://nickleroy.com/newsletter/">#SEOForLunch</a>: an email every Tuesday from Nick Leroy with all you can E-A-T updates about SEO</li>
            <li><a href="https://growthmemo.kevin-indig.com/">Growth Memo</a>: a weekly email from Kevin Indig including thee most important trends in SEO and growth</li>
            <li><a href="https://seomba.substack.com/">The SEO MBA</a>: a newsletter from Tom Critchlow with tips to become a more effective SEO executive and improve your career</li>
            <li><a href="https://backlinko.com/newsletter">Backlinko</a>: a weekly email from Brian Dean with proven SEO tips, strategies, and case studies</li>
			<li><a href="https://www.youtube.com/channel/UCp8Kv-cF9YfA-G33CRxv6SQ">RustyBrick on YouTube</a>: a weekly video recap and SEO vlog from Barry Schwartz of roundup content and interviews</li>
		</ul>
	</div>
</div>