<hr>

<div class="row">
	<div class="four columns">
		<div class="row">
			<h2>Local Organizations</h2>
			<div class="subhead">
				<p>Gatherings and groups to exchange ideas</p>
			</div>
		</div>
	</div>
	<div class="eight columns">
		<ul>
            <li><a href="https://bayareasearch.org/">BayAreaSearch</a>: learn more about SEO and meet other great search marketing pros in the San Francisco Bay Area</li>
            <li><a href="https://www.sempdx.org/">SEMpdx</a>: empowering people to reach their professional goals through digital marketing education, networking, & community in Portland, OR</li>
			<li><a href="https://www.dfwsem.org/">DFWSEM</a>: educating local businesses, promoting digital marketing, and regoznizing the vlaue of digitial marketers in North Texas</li>
			<li><a href="https://mnsearch.org/">MnSearch</a>: helping businesses and individuals in Minnesota to keep a pulse on the latest search marketing news, trends, tactics, and tools</li>
		</ul>
	</div>
</div>