<hr>

<div class="row">
	<div class="four columns">
		<div class="row">
			<h2>Media Publications</h2>
			<div class="subhead">
				<p>Read the latest SEO news</p>
			</div>
		</div>
	</div>
	<div class="eight columns">
		<ul>
			<li><a href="https://searchengineland.com/">Search Engine Land</a></li>
            <li><a href="https://www.seroundtable.com/">Search Engine Roundtable</a></li>
            <li><a href="https://www.searchenginejournal.com/">Search Engine Journal</a></li>
            <li><a href="https://www.searchenginewatch.com/">Search Engine Watch</a></li>
		</ul>
	</div>
</div>