<hr>

<div class="row">
	<div class="four columns">
		<div class="row">
			<h2>Resources</h2>
			<div class="subhead">
				<p>Learn about SEO</p>
			</div>
		</div>
	</div>
	<div class="eight columns">
		<ul>
            <li><a href="https://developers.google.com/search/docs/beginner/seo-starter-guide">Google's Search Engine Optimization (SEO) Starter Guide</a></li>
			<li><a href="https://learningseo.io/">Aleyda's Learning SEO, A Roadmap with Free Resources</a></li>
            <li><a href="https://moz.com/beginners-guide-to-seo">Moz's The Beginner's Guide to SEO</a></li>
            <li><a href="https://backlinko.com/learn-seo-fast">Backlinko's How to Learn SEO In 2021, In Record Time</a></li>
	    <li><a href="https://moz.com/blog/the-technical-seo-renaissance">The Technical SEO Renaissance</a></li>
		</ul>
	</div>
</div>


